body{
  background-color: rgb(181, 97, 234);
}
/* .color-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.color-square {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
} */
